.nav{ margin: 20px;
    padding: 30px; 
}
.nav2{
    display: flex;
    gap: 20px;;
    padding: 20px;

}
.nav3{
    display: flex;
    gap: 20px;
}
.main1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap; 
}

.btn1 {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cover {
    flex: 1;
    max-width: 50%;
}

.cover img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.imgsec {
    margin: 0%;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 150px;        /* Adds uniform gap between images */
    justify-content: center; /* Optional: centers the images */
    padding: 15px;
}

.indv {
    width: 100px;     /* Adjust based on your design */
    height: auto;
    object-fit: contain;
}

.indv{
    gap: 20px;
}
.main2{
    display: flex;
}
.mbtn{
    background: rgb(51, 238, 5);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-size: larger;

}
.darkbg{
    margin-top: 20px;
    padding: 20px;
    
   background:#0C0B2E;
   color: white;
   ;
   border-radius: 20px;
}
.lrn{padding: 10px;
    color: yellowgreen;}

.bgfl{ gap: 10px;
    display: flex;
.last{
    display: flex;
}